.gitignore text eol=lf
*.md text eol=lf
*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.mk text eol=lf
*.patch text eol=lf
*.config text eol=lf
*_defconfig text eol=lf
Config.in text eol=lf
external.desc text eol=lf
external.mk text eol=lf
